body 
{
    background-image: url("sfondo.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: white;
}

h1 
{
    font-size: 30px;
    color: goldenrod;
    margin: px;
}

#Section_1
{   
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    max-height: 680px;
}

.message-el
{
    font-style: italic;
    margin: 0px;
}

button
{
    display: block;
    margin: 0px auto 10px auto;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    height: 60;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
}

#btn-new-card
{
    display: none;
}

button:hover
{
    box-shadow: 5px 5px 3px black;
}

#cards-Section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
    margin: 0px auto;
}

.card_Image
{
    max-width: 80px;
    max-height: 130px;
    margin: 0 5px;
    flex-grow: 1;
}